$transition-duration: 0.3s;

.transition {
  -webkit-transition: all $transition-duration linear;
  -moz-transition: all $transition-duration linear;
  -o-transition: all $transition-duration linear;
  transition: all $transition-duration linear;
}
