div.container
  ul
    li
      a.transition(href='http://www.facebook.com/mtmarion')
        i.fa.fa-facebook
    li
      a.transition(href='http://www.twitter.com/michaeltmarion')
        i.fa.fa-twitter
    li
      a.transition(href='http://www.instagram.com/michaelmarion')
        i.fa.fa-instagram
    li
      a.transition(href='https://www.linkedin.com/in/michaeltmarion')
        i.fa.fa-linkedin
    li
      a.transition(href='https://github.com/michaeltmarion')
        i.fa.fa-github
