div.navigation.transition
  nav
    a.transition.nav__item(href='/') 
      span.nav__item.nav--item-text Home
    a.transition.nav__item(href='/blog') 
      span.nav__item.nav--item-text Blog
    label.switch
      input#toggle(type='checkbox')
      span.slider.round
    //- a.transition.nav__item(href='/social/twitter') 
    //-   i.fa.fa-twitter
    //-   //- span.nav__item.nav--item-text Blog
    //- a.transition.nav__item(href='/social/instagram') 
    //-   i.fa.fa-instagram
    //-   //- span.nav__item.nav--item-text Blog
    //- a.transition.nav__item(href='/social/') 
    //-   i.fa.fa-linkedin
    //-   //- span.nav__item.nav--item-text Blog
