div#sidebar
  div#nav
    //- div#nav-nameplate.transition
    //-   span#nameplate m
    div#nav-posts 
      each post in posts
        a.post(href = '/post/#{post.id}')
          div.title #{post.title}
          div.date #{post.day} #{post.month}
