div#introduction
  p Hi! I'm Michael. I'm an engineer at 
    span.linkedin LinkedIn 
    span in beautiful Manhattan, New York. When I'm not writing code, I'm 
    span#activity playing the guitar. Or pretending to know how to play the drums.
