div#social 
  ul#icons
    li
      a.transition(href = '#')
        i.fa.fa-facebook-square
    li
      a.transition(href = '#')
        i.fa.fa-twitter-square
    li
      a.transition(href = '#')
        i.fa.fa-instagram
    li
      a.transition(href = '#')
        i.fa.fa-linkedin-square
    li
      a.transition(href = '#')
        i.fa.fa-github-square
