h1 {
  color: #f8f9fa;
  font-weight: 300;
  padding: 0 1.5rem;
}

p {
  margin: 0;
  padding: 0;
}

div#posts a {
  border-radius: 0.5rem;
  display: block;
  margin: 1.5rem 0;
  padding: 1.5rem;
}

div#posts a:hover {
  background: #495057;
}

div#posts a h2 {
  margin: 0;
  padding: 0;
}

div#posts a h2 {
  color: #e9ecef;
  font-size: 32px;
  font-weight: 300;
}

div#posts a p {
  color: #e9ecef;
  line-height: 24px;
  margin: 0.25rem 0;
}

div#posts a p a{
  color: #e9ecef;
}
