div.post div.content {
  margin-bottom: 0.750em;
}

div.post div.content h1 {
  font-size: 1.45em;
  font-weight: 500;
}

div.post div.content p {
  margin-top: 0.500em;
  opacity: 0.7;
}

div.post a {
  font-weight: 500;
  font-size: 0.90em;
  text-transform: uppercase;
}
