div#splash-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
}

div#splash {
  height: 37.5%;
  width: 75%;
}

div#splash h1 {
  font-size: 42px;
  font-weight: 700;
  margin: 0 0 4px 0;
  padding: 0;
  width: 100%;
}

div#splash p {
  font-weight: 300;
  margin: 0;
  padding: 0;
}
