extends layout
block styles
  link(rel = 'stylesheet', href = 'stylesheets/pages/blog.css')
block scripts
block content
  each post in posts
    div.post
      a.transition(href = '/post/#{post.slug}')
        div.content.transition
          h1 #{post.title}
          p #{post.description}
    
  
