extends layout
block styles
block scripts
block content
  h1 Latest Updates
  div#posts
    each post in posts
      a.transition(href='/blog/post/#{post.id}')
        h2 #{post.title}
        p !{post.snippet}
