extends layout
block styles
  link(rel = 'stylesheet', href = '/stylesheets/error.css')
block scripts
block content
  h5= message
    span.pull-right= error.status
  div#stacktrace
    pre #{error.stack}
