extends layout

block styles
  link(rel='stylesheet', href='stylesheets/pages/index.css')

block scripts
  script(src='javascripts/vendor/typed.min.js')

block content
  div#splash-wrapper
    div#splash
      h1 Michael Marion
      p I'm 
        span#typed

  label.switch
    input#toggle(type='checkbox')
    span.slider.round
  
  script.
    document.addEventListener('DOMContentLoaded', function(){Typed.new('#typed', {strings: ['a full-stack software engineer at LinkedIn.','interested in all things related to product development.','learning to cook the meanest pan-seared filet mignon you can imagine.','known to fiddle around on the guitar and drums every now and then.'],typeSpeed:0, loop:true});});
