html(class = 'no-js')
  head
    meta(charset = 'utf-8')
    meta(http-equiv = 'X-UA-Compatible', content = 'IE = edge')

    title=page

    meta(name = 'description', content = '')
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
    
    link(rel='apple-touch-icon' sizes='57x57' href='images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192'  href='images/favicon/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='images/favicon//favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='images/favicon//favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='images/favicon//favicon-16x16.png')
    link(rel='manifest' href='/manifest.json')
    
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')
    
    script(src="https://use.typekit.net/wab1zzq.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="../../javascripts/navigation.js")
    script.
      function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43062979-2', 'auto');
      ga('send', 'pageview');

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='../../stylesheets/reset.css')
    link(rel='stylesheet', href='../../stylesheets/bulma.css')
    link(rel='stylesheet', href='../../stylesheets/type.css')
    link(rel='stylesheet', href='../../stylesheets/style.css')
    block styles
    
  body
    //if lt IE 8
      p.chromeframe.
        You are using an <strong>outdated</strong> browser.
        Please <a href = "http://browsehappy.com/">upgrade your browser</a>
        to improve your experience.
    div.container
      block content

    script(src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js")
    script.
      window.sr = ScrollReveal();
    block scripts
