html(class = 'no-js')
  head
    meta(charset = 'utf-8')
    meta(http-equiv = 'X-UA-Compatible', content = 'IE = edge')

    title=page

    meta(name = 'description', content = '')
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
    
    script.
      var customPath = '../../webfonts';
    script(type="text/javascript" src="../..javascripts/webfonts.js")

    link(rel='stylesheet', href='../../stylesheets/reset.css')
    link(rel='stylesheet', href='../../stylesheets/type.css')
    link(rel='stylesheet', href='../../stylesheets/style.css')
    block styles
    
  body
    //if lt IE 8
      p.chromeframe.
        You are using an <strong>outdated</strong> browser.
        Please <a href = "http://browsehappy.com/">upgrade your browser</a>
        to improve your experience.
    div.container
      block content
      
    block scripts
