@import 'reset/reset';

@import 'modules/animation';
@import 'modules/color';
@import 'modules/layout';
@import 'modules/media';
@import 'modules/type';

@import 'vendor/font-awesome/sass/font-awesome';

@import 'components/toggle';

@import 'partials/main';
@import 'partials/navigation';
@import 'partials/pages/index';
@import 'partials/pages/blog';
@import 'partials/pages/post';
