div.container {

  h1 {
    font-size: 4rem;
    font-weight: $font-weight-heavy;
    margin-bottom: 1.5rem;
  }
}

div.posts {

  a.post__link {
    display: block;
    padding: 2rem 0rem;
    text-decoration: none;

    h2.post--title {
      font-size: 2.15rem;
      font-weight: $font-weight-semibold;
      margin-bottom: 0.5rem;
    }

    p.post--snippet {
      font-size: 1.45rem;
    }
  }


}
