$splash-height: 80%;
$splash-width: 88%;

div.splash {
  display: flex;
  flex-direction: column;
  height: $splash-height;
  justify-content: center;
  width: $container-width;

  &.splash__inner {

    h1.splash--heading {
      font-size: 5rem;
      font-weight: $font-weight-heavy;

      @media #{$media-query-mobile-sm} {
        font-size: 3rem;
      }
    }

    p.splash--body {
      font-weight: $font-weight-regular;
      font-size: 3rem;
      height: 10%;

      @media #{$media-query-mobile-sm} {
        font-size: 1.15rem;
      }
    }
  }
}
