div.nameplate {
  z-index: 3;
  opacity: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.nameplate:hover {
  cursor: pointer;
  color: #5856D6;
}

div.nameplate h1 {
  -webkit-animation-name: colorwheel;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;

  animation-name: colorwheel;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-play-state: running;

  font-size: 2.00em;
  margin-top: 1.00em;
}

div#metadata-nameplate.invisible {
  opacity: 0;
}

div#navigation {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -100vh;
  background: #1F1F21;
  color: #dadada;
  z-index: 2;
  overflow-y: scroll;
}

div#navigation.showing {
  top: 0;
}

div#navigation div.posts ul {
  margin-top: 6.00em;
}

div#navigation div.posts ul li a {
  display: flex;
  color: #dadada;
  padding: 0.750em;
}

div#navigation div.posts ul li a:hover {
  color: white;
  background: #303030;
}

div#navigation div.posts ul li a div.date {
  color: #5856D6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

div#navigation div.posts ul li a div.date-inner {
  align-self: center;
  padding: 8px 14px 12px 14px;
  border: 1px solid #5856D6;
}

div#navigation div.posts ul li a div.date-inner h2 {
  font-weight: 300;
  font-size: 2.00em;
}

div#navigation div.posts ul li a div.date-inner h3 {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  font-weight: 500;
}

div#navigation div.posts ul li a div.metadata {
  flex: 4;
  display: flex;
  text-align: left;
}

div#navigation div.posts ul li a div.metadata div.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  padding-left: 8px;
}

div#navigation div.posts ul li a div.metadata div.title h1 {
  font-size: 1.80em;
  font-weight: 300;
}

div#navigation div.posts ul li a div.metadata div.snippet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
}

div#navigation div.posts ul li a div.metadata div.snippet p {
  font-weight: 300;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes colorwheel {
  0%   { color: rgba(255, 59, 48);  }
  14%  { color: rgba(255, 149, 0);  }
  28%  { color: rgba(255, 204, 0);  }
  42%  { color: rgba(76, 217, 100); }
  56%  { color: rgba(90, 200, 250); }
  70%  { color: rgba(0, 122, 255);  }
  84%  { color: rgba(88, 86, 214);  }
  100% { color: rgba(255, 45, 85); }
}

/* Standard syntax */
@keyframes colorwheel {
  0%   { color: rgba(255, 59, 48);  }
  14%  { color: rgba(255, 149, 0);  }
  28%  { color: rgba(255, 204, 0);  }
  42%  { color: rgba(76, 217, 100); }
  56%  { color: rgba(90, 200, 250); }
  70%  { color: rgba(0, 122, 255);  }
  84%  { color: rgba(88, 86, 214);  }
  100% { color: rgba(255, 45, 85); }
}
