div#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
}

div#overlay.showing {
  background-color: rgba(0, 0, 0, 0.80);
}

div#navigation {
  height: 100%;
  width: 100vw;
  position: fixed;
  left: -100vw;
  background: #202020;
  color: #dadada;
  z-index: 2;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  div#navigation {
    max-width: 500px;
  }
}

div#navigation.showing {
  left: 0;
}

div#navigation div.posts ul {
  margin-top: 6.00em;
}

div#navigation div.posts ul li a {
  display: flex;
  color: #dadada;
  padding: 0.750em;
}

div#navigation div.posts ul li a:hover {
  color: white;
  background: #303030;
}

div#navigation div.posts ul li a div.date {
  color: #007AFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
}

div#navigation div.posts ul li a div.date-inner {
  align-self: center;
}

div#navigation div.posts ul li a div.date-inner h2 {
  font-weight: 300;
  font-size: 2.00em;
}

div#navigation div.posts ul li a div.date-inner h3 {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  font-weight: 500;
}

div#navigation div.posts ul li a div.content {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#navigation div.posts ul li a div.content div.content-inner {
}

div#navigation div.posts ul li a div.content div.content-inner h1 {
  font-size: 1.15em;
  font-weight: 700;
  margin-bottom: 0.30em;
}

div#navigation div.posts ul li a div.content div.content-inner p {
  font-weight: 400;
}
