div#navigation {
  flex: 2;
  height: 100%;
  min-width: 500px;
  background: #202020;
  color: #dadada;
  border-right: 1px solid #151515;
}

div#navigation div.nameplate {
  margin-bottom: 1.00em;
}

div#navigation div.nameplate h1 {
  text-align: center;
  font-size: 4.00em;
  color: #FF2D55;
}

div#navigation div.spacer {
  border-bottom: 1px solid #505050;
  width: 50%;
  margin: 0 auto;
}
div#navigation div.posts ul {
  margin-top: 1.00em;
}

div#navigation div.posts ul li a {
  display: flex;
  color: #dadada;
  padding: 0.750em;
}

div#navigation div.posts ul li a:hover {
  color: white;
  background: #303030;
}

div#navigation div.posts ul li a div.date {
  color: #FF2D55;
  flex: 1;
  padding-left: 0.750em;
}

div#navigation div.posts ul li a div.date h2 {
  font-size: 2.35em;
}

div#navigation div.posts ul li a div.date h3 {
  text-transform: uppercase;
}

div#navigation div.posts ul li a div.content {
  flex: 5;
  padding-top: 0.25em;
}

div#navigation div.posts ul li a div.content h1 {
  font-weight: 700;
  font-size: 1.650em;
}

div#navigation div.posts ul li a div.content p {
  margin-top: 0.45em;
  font-weight: 400;
  font-size: 1.15em;
}
