html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FDFDFD;
    color: #151515;
    font-family: -apple-system, "SF UI Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

body {
  display: flex;
}

a {
  color: #FF2D55;
  font-weight: 600;
  text-decoration: none
  -webkit-transition: all 200ms linear 200ms;
  -moz-transition: all 200ms linear 200ms;
  -o-transition: all 200ms linear 200ms;
  transition: all 200ms linear 200ms;
}

a:hover {
  color: #C22350;
  text-decoration: none;
  -webkit-transition: all 200ms linear 200ms;
  -moz-transition: all 200ms linear 200ms;
  -o-transition: all 200ms linear 200ms;
  transition: all 200ms linear 200ms;
}

.transition {
    -webkit-transition: all 200ms linear 200ms;
    -moz-transition: all 200ms linear 200ms;
    -o-transition: all 200ms linear 200ms;
    transition: all 200ms linear 200ms
}
