html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FDFDFD;
    color: #151515;
    font-family: -apple-system, "SF UI Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

body {
  display: flex;
}

a {
  color: #FF2D55;
  font-weight: 600;
  text-decoration: none
}

a:hover {
  text-decoration: none
}

div#nameplate {
  position: absolute;
  z-index: 1;
  left: 2.10em;
}

div#nameplate:hover {
  cursor: pointer;
}

div#nameplate h1 {
  font-size: 3.00em;
  color: #202020;
  padding: 0 4px;
}

div#nameplate h1.menu {
  color: #007AFF;
}

.transition {
    -webkit-transition: all 100ms linear 100ms;
    -moz-transition: all 100ms linear 100ms;
    -o-transition: all 100ms linear 100ms;
    transition: all 100ms linear 100ms
}
