html,
body {
  background: #F1F3F5;
  color: #212529;
}

div.container {
  margin: 0 auto;
  padding: 5.0rem 2.0rem;
  max-width: 768px;
}
h1 {
  margin: 3.0rem 0;
}

h2 {
  margin: 2.5rem 0;
}

p {
  margin: 21px 0;
}

a {
  text-decoration: none;
}

.transition {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
