$position-offset: 14px;

$switch-height: 24px;
$switch-width: 36px;

$slider-size: 14px;
$slider-offset: 4px;
$slider-translate-distance: 12px;

/* The switch - the box around the slider */
.switch {
  height: $switch-height;
  position: relative;
  width: $switch-width;

  input {
    display: none;
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: $transition-duration;
  transition: $transition-duration;

  &:before {
    position: absolute;
    content: "";
    height: $slider-size;
    width: $slider-size;
    left: $slider-offset;
    bottom: $slider-offset;
    -webkit-transition: $transition-duration;
    transition: $transition-duration;
  }
}

body.light >> .slider {
  border: 1px solid $main-light-fg;

  &:before {
    background-color: $main-light-fg;
  }
}

body.dark >> .slider {
  border: 1px solid $main-dark-fg;

  &:before {
    background-color: $main-dark-fg;
  }
}

input:checked + .slider:before {
  -webkit-transform: translateX($slider-translate-distance);
  -ms-transform: translateX($slider-translate-distance);
  transform: translateX($slider-translate-distance);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}
