$position-offset: 14px;

$switch-height: 22px;
$switch-width: 34px;

$slider-size: 14px;
$slider-offset: 4px;
$slider-translate-distance: 12px;

/* The switch - the box around the slider */
.switch {
  bottom: $position-offset;
  height: $switch-height;
  left: $position-offset;
  position: fixed;
  width: $switch-width;

  input {
    display: none;
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $main-dark-bg;
  -webkit-transition: $transition-duration;
  transition: $transition-duration;

  &:before {
    position: absolute;
    content: "";
    height: $slider-size;
    width: $slider-size;
    left: $slider-offset;
    bottom: $slider-offset;
    background-color: white;
    -webkit-transition: $transition-duration;
    transition: $transition-duration;
  }
}

input:checked + .slider {
  background-color: $main-light-bg;
}

input:focus + .slider {
  box-shadow: 0 0 1px $oc-white;
}

input:checked + .slider:before {
  background-color: $main-dark-bg;
  -webkit-transform: translateX($slider-translate-distance);
  -ms-transform: translateX($slider-translate-distance);
  transform: translateX($slider-translate-distance);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}
