nav {
  display: flex;
  justify-content: space-around;
  width: 100%;

  a {
    display: block;
    font-size: 85%;
    letter-spacing: 1px;
    padding: 2rem 0rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}
