$navigation_nav-border-radius: 4px;
$navigation_nav-pill-light: $oc-gray-5;
$navigation_nav-pill-dark: $oc-gray-7;

nav {
  align-items: center;
  display: flex;
  height: 72px;
  margin-bottom: 3.0rem !important;
  margin-top: 1.0rem !important;

  a.nav-link {
    border-radius: $navigation_nav-border-radius;
    color: $oc-gray-6;
    display: block;
    margin: 0 1rem;

    body.dark &:hover {
      background: $navigation_nav-pill-dark;
      color: $navigation_nav-pill-light;
    }

    body.light &:hover {
      background: $navigation_nav-pill-light;
      color: $navigation_nav-pill-dark;
    }
  }
}
