div#nav  {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 760px;
  padding: 1.5rem 0;
}

div#nav a {
  border-radius: 0.25rem;
  color: #868E96;
  display: block;
  font-size: 14px;
  padding: 0.25rem 1.0rem;
}

div#nav a:hover {
  color: #adb5bd;
  background: #495057;
}
